@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .width{
    width: 600px;
  }

  .trans{
    -webkit-transition: all 700ms ease-in;
  }